<launch>
	<include file="$(find navi_simulation)/launch/simulation.launch" >
		<arg name="world" value="autonomous_challenge"/>
	</include>
	<include file="$(find navi_model)/launch/model_upload.launch"/>
	<include file="$(find navi_simulation)/launch/spawn_navi.launch"/>
	<node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_publisher"/>
	<node pkg="robot_state_publisher" type="state_publisher" name="state_publisher"/>

</launch>
