<launch>
	<group ns="vision">
		<node pkg="line_detection" type="line_detection" name="line_detection">
			<!-- for 3" white painted line -->
			<param name="thickness" value="0.0762"/>
			<param name="border"    value="0.1452"/>
			<param name="invert"    value="false"/>

			<!-- for 3/4" black electrical tape -->
			<!--
			<param name="thickness" value="0.0191"/>
			<param name="border"    value="0.0381"/>
			<param name="invert"    value="true"/>
			-->

			<param name="threshold" value="30"/>
			<param name="cutoff"    value="1"/>
			<param name="frame"     value="/base_footprint"/>
			<param name="debug"     value="true"/>
			<remap from="image" to="narrow/left/image_rect_color"/>
		</node>
		<!--
		<node pkg="line_detection" type="line_tracker" name="line_tracker">
		</node>
		-->
	</group>
</launch>
