[submodule "stereo_webcam"]
	path = stereo_webcam
	url = git@github.com:mkoval/stereo_webcam.git
[submodule "hj_node"]
	path = hj_node
	url = https://github.com/jmesmon/hj_node.git
[submodule "gps_umd"]
	path = gps_umd
	url = git://ram.umd.edu/ros/gps_umd.git
