<launch>
    <node pkg="jaguar" type="diff_drive" name="driver">
        <remap from="odom" to="drive/odom"/>
        <remap from="cmd_vel" to="drive/cmd_vel"/>
        <remap from="temperature_left" to="temperature/left"/>
        <remap from="temperature_right" to="temperature/right"/>
        <remap from="voltage_left" to="voltage/left"/>
        <remap from="voltage_right" to="voltage/right"/>
        <rosparam command="load" file="$(find navi_bringup)/config/jaguars.yaml"/>
    </node>
</launch>
