<launch>
	<node pkg="hokuyo_node" type="hokuyo_node" name="laser">
		<remap from="scan" to="laser"/>
		<param name="frame_id" value="/laser"/>
        <param name="port" value="/dev/hokuyo"/>
        <param name="min_ang" value="-2.356194496154785"/>
        <param name="max_ang" value="2.356194496154785"/>
	</node>
</launch>
