<launch>
	<group ns="vision">
		<node pkg="nodelet" type="nodelet" name="standalone_nodelet"  args="manager"/>
		<node pkg="nodelet" type="nodelet" name="white_filter" args="load white_filter/white_nodelet standalone_nodelet">
			<param name="use_low"  value="true"/>
			<param name="use_high" value="false"/>
			<param name="threshold_hue" value="180"/>
			<param name="threshold_sat" value="127"/>
			<remap from="image" to="narrow/left/image_rect_color"/>
		</node>
	</group>
</launch>
