KERNEL=="ttyUSB[0-9]*", ATTRS{product}=="FT232R USB UART", ATTRS{serial}=="A700ejKt", SYMLINK+="motor_driver"
SUBSYSTEM=="video4linux", ATTRS{idVendor}=="1415", ATTRS{idProduct}=="2000", ATTRS{devpath}=="[0-9].1.1", SYMLINK="video_stereo_left"
SUBSYSTEM=="video4linux", ATTRS{idVendor}=="1415", ATTRS{idProduct}=="2000", ATTRS{devpath}=="[0-9].1.2", SYMLINK="video_stereo_middle"
SUBSYSTEM=="video4linux", ATTRS{idVendor}=="1415", ATTRS{idProduct}=="2000", ATTRS{devpath}=="[0-9].1.3", SYMLINK="video_stereo_right"
SUBSYSTEM=="video4linux", ATTRS{idVendor}=="1415", ATTRS{idProduct}=="2000", ATTRS{devpath}=="[0-9].3",   SYMLINK="video_wheel_left"
SUBSYSTEM=="video4linux", ATTRS{idVendor}=="1415", ATTRS{idProduct}=="2000", ATTRS{devpath}=="[0-9].4",   SYMLINK="video_wheel_right"
