<?xml version="1.0"?>
<robot xmlns:body="http://playerstage.sourceforge.net/gazebo/xmlschema/#body"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:geom="http://playerstage.sourceforge.net/gazebo/xmlschema/#geom"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:joint="http://playerstage.sourceforge.net/gazebo/xmlschema/#slider"
       xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="gps">
        <xacro:frame parent="base_link" child="gps" xyz="${gps_offset}" rpy="0 0 0"/>

        <gazebo> 
            <controller:gazebo_ros_p3d name="gps_controller" plugin="libgazebo_ros_p3d.so">
                <alwaysOn>true</alwaysOn>
                <updateRate>60</updateRate>
                <bodyName>base_footprint</bodyName>
                <topicName>/ground_truth</topicName>
                <gaussianNoise>0.0</gaussianNoise>
                <frameName>/map</frameName>
                <interface:position name="gps_iface"/>
            </controller:gazebo_ros_p3d>
            <canonicalBody>base_footprint</canonicalBody>
        </gazebo>
    </xacro:macro>
</robot>
