<?xml version="1.0"?>
<robot xmlns:body="http://playerstage.sourceforge.net/gazebo/xmlschema/#body"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:geom="http://playerstage.sourceforge.net/gazebo/xmlschema/#geom"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:joint="http://playerstage.sourceforge.net/gazebo/xmlschema/#slider"
       xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:property name="gps_x" value="-0.18941"/>
    <xacro:property name="gps_z" value="0.76387"/>
    <xacro:property name="gps_rate" value="2.000"/>
    <xacro:property name="gps_sigma" value="0.015"/>

    <xacro:macro name="gps">
        <joint name="gps_joint" type="fixed">
            <parent link="base_link"/>
            <child link="gps_link"/>
            <origin xyz="${gps_x} 0 ${gps_z}" rpy="0 0 0"/>
            <axis xyz="0 0 0"/>
            <anchor xyz="0 0 0"/>
        </joint>
        <link name="gps_link">
            <xacro:weightless/>
        </link>

        <gazebo>
            <controller:gazebo_ros_p3d name="gps_controller" plugin="libgazebo_ros_p3d.so">
                <alwaysOn>true</alwaysOn>
                <updateRate>${gps_rate}</updateRate>
                <bodyName>base_link</bodyName>
                <topicName>/gps</topicName>
                <gaussianNoise>${gps_sigma}</gaussianNoise>
                <frameName>/map</frameName>
                <interface:position name="gps_iface"/>
            </controller:gazebo_ros_p3d>
            <canonicalBody>base_link</canonicalBody>
        </gazebo>
    </xacro:macro>
</robot>
