<?xml version="1.0"?>
<robot xmlns:body="http://playerstage.sourceforge.net/gazebo/xmlschema/#body"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:geom="http://playerstage.sourceforge.net/gazebo/xmlschema/#geom"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:joint="http://playerstage.sourceforge.net/gazebo/xmlschema/#slider"
       xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:property name="gps_x" value="-0.18941"/>
    <xacro:property name="gps_z" value="0.76387"/>

    <xacro:macro name="gps">
        <joint name="gps_joint" type="fixed">
            <parent link="base_link"/>
            <child link="gps_link"/>
            <origin xyz="${gps_x} 0 ${gps_z}" rpy="0 0 0"/>
            <axis xyz="0 0 0"/>
            <anchor xyz="0 0 0"/>
        </joint>
        <link name="gps_link"/>

        <gazebo>
            <canonicalBody>gps_link</canonicalBody>
            <controller:gazebo_ros_p3d name="gps_controller" plugin="libgazebo_ros_p3d.so">
                <alwaysOn>true</alwaysOn>
                <updateRate>0.5</updateRate>
                <bodyName>gps_link</bodyName>
                <topicName>gps</topicName>
                <gaussianNoise>${gps_noise}</gaussianNoise>
                <frameName>/map</frameName>
                <xyzOffsets>0 0 0</xyzOffsets>
                <rpyOffsets>0 0 0</rpyOffsets>
                <interface:position name="gps_iface"/>
            </controller:gazebo_ros_p3d>
        </gazebo>
    </xacro:macro>
</robot>
