<launch>
	<!-- Static URDF -->
	<node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_publisher"/>
	<node pkg="robot_state_publisher" type="state_publisher" name="state_publisher"/>
	<node type="buffer_server" pkg="tf2_ros" name="tf2_buffer"/>
	<include file="$(find navi_model)/launch/model_upload.launch"/>

	<!-- Vision -->
	<group ns="vision">
		<node pkg="nodelet" type="nodelet" name="vision_manager" args="manager"/>

		<!-- Calibrated Wheel Camera Extrinsics -->
		<group ns="wheel_left">
			<node type="calibration_transform_publisher.py" pkg="camera_pose_calibration" name="wheel_left_publisher"/>
			<node type="msg_saver.py" pkg="camera_pose_calibration" name="wheel_left_saver"
			      args="camera_calibration camera_pose_calibration/CameraCalibration $(find navi_cfg)/calibration/ext_wheel_left.bag"/>
		</group>
		<group ns="wheel_right">
			<node type="calibration_transform_publisher.py" pkg="camera_pose_calibration" name="wheel_right_publisher"/>
			<node type="msg_saver.py" pkg="camera_pose_calibration" name="wheel_right_saver"
				  args="camera_calibration camera_pose_calibration/CameraCalibration $(find navi_cfg)/calibration/ext_wheel_right.bag"/>
		</group>

		<!-- Whiteness Colorspace Transformation -->
		<node pkg="nodelet" type="nodelet" name="center_white_filter" args="load white_filter/white_nodelet vision_manager">
			<rosparam command="load" file="$(find navi_cfg)/params/line_white.yaml"/>
			<remap from="image" to="narrow/left/image_rect_color"/>
			<remap from="white" to="center_white"/>
		</node>
		<node pkg="nodelet" type="nodelet" name="left_white_filter" args="load white_filter/white_nodelet vision_manager">
			<rosparam command="load" file="$(find navi_cfg)/params/line_white.yaml"/>
			<remap from="image" to="wheel/left/image_raw"/>
			<remap from="white" to="left_white"/>
		</node>
		<node pkg="nodelet" type="nodelet" name="right_white_filter" args="load white_filter/white_nodelet vision_manager">
			<rosparam command="load" file="$(find navi_cfg)/params/line_white.yaml"/>
			<remap from="image" to="wheel/right/image_raw"/>
			<remap from="white" to="right_white"/>
		</node>

		<!-- Matched Pulse Width Filter -->
		<node pkg="nodelet" type="nodelet" name="center_lined" args="load line_detection/line_nodelet vision_manager">
			<rosparam command="load" file="$(find navi_cfg)/params/line_detection.yaml"/>
			<remap from="image"       to="center_white"/>
			<remap from="camera_info" to="narrow/left/camera_info"/>
			<remap from="line_points" to="center_line"/>
		</node>
		<node pkg="nodelet" type="nodelet" name="left_lined" args="load line_detection/line_nodelet vision_manager">
			<rosparam command="load" file="$(find navi_cfg)/params/line_detection.yaml"/>
			<remap from="image"       to="left_white"/>
			<remap from="camera_info" to="wheel/left/camera_info"/>
			<remap from="line_points" to="left_line"/>
		</node>
		<node pkg="nodelet" type="nodelet" name="right_lined" args="load line_detection/line_nodelet vision_manager">
			<rosparam command="load" file="$(find navi_cfg)/params/line_detection.yaml"/>
			<remap from="image"       to="right_white"/>
			<remap from="camera_info" to="wheel/right/camera_info"/>
			<remap from="line_points" to="right_line"/>
		</node>

		<!-- Model Fitting and Tracking -->
		<node pkg="nodelet" type="nodelet" name="line_tracker" args="load line_tracking/tracker_node vision_manager">
			<rosparam command="load" file="$(find navi_cfg)/params/line_tracking.yaml"/>
			<remap from="points" to="left_line"/>
		</node>

		<!-- Stereo Vision -->
		<node pkg="nodelet" type="nodelet" name="stereo_ground" args="load stereo_plane/ground_nodelet vision_manager">
			<rosparam command="load" file="$(find navi_cfg)/params/stereo_ground.yaml"/>
			<remap from="points" to="narrow/points2"/>
		</node>
		<node pkg="stereo_od" type="od_node" name="stereo_od">
			<rosparam command="load" file="$(find navi_cfg)/params/stereo_od.yaml"/>
			<remap from="points"      to="narrow/points2"/>
			<remap from="camera_info" to="narrow/left/camera_info"/>
		</node>
		<group ns="narrow">
			<node pkg="stereo_image_proc" type="stereo_image_proc" name="narrow_proc">
				<remap from="stereo" to="narrow"/>
				<remap from="image"  to="image_color"/>
			</node>
		</group>
		<group ns="wide">
			<node pkg="stereo_image_proc" type="stereo_image_proc" name="wide_proc">
				<remap from="stereo" to="wide"/>
				<remap from="image"  to="image_color"/>
			</node>
		</group>
	</group>
</launch>
