<launch>
	<arg name="cam"/>    <!-- monocular camera (e.g. wheel_left or wheel_right) -->
	<arg name="rows"   default="8"/>     <!-- number of chessboard rows -->
	<arg name="cols"   default="6"/>     <!-- number of chessboard columns -->
	<arg name="square" default="0.0254"/> <!-- length of a side of one square on the calibration chessboard -->

	<include file="$(find navi_bringup)/launch/hardware.launch"/>

	<group ns="vision">
		<node type="image_proc" pkg="image_proc" name="image_proc1" ns="left">
			<remap from="image_raw" to="image"/>
		</node>
		<node type="image_proc" pkg="image_proc" name="image_proc2" ns="$(arg cam)">
			<remap from="image_raw" to="image"/>
		</node>
	</group>

	<include file="$(find camera_pose_calibration)/launch_extrinsics/calibrate_2_camera.launch">
		<arg name="camera1_ns" value="vision/left"/>
		<arg name="camera2_ns" value="vision/$(arg cam)"/>
		<arg name="checker_rows" value="$(arg rows)"/>
		<arg name="checker_cols" value="$(arg cols)"/>
		<arg name="checker_size" value="$(arg square)"/>
	</include>
</launch>
