<launch>
	<include file="$(find navi_bringup)/launch/general.launch"/>
	<group ns="vision">
		<node pkg="stereo_webcam" type="stereo_node" name="camera_front">
			<rosparam command="load" file="$(find navi_cfg)/params/camera_general.yaml"/>
			<rosparam command="load" file="$(find navi_cfg)/params/camera_stereo.yaml"/>
			<remap from="camera0" to="left"/>
			<remap from="camera1" to="middle"/>
			<remap from="camera2" to="right"/>
		</node>
		<node pkg="stereo_webcam" type="stereo_node" name="camera_wheel">
			<rosparam command="load" file="$(find navi_cfg)/params/camera_general.yaml"/>
			<rosparam command="load" file="$(find navi_cfg)/params/camera_wheel.yaml"/>
			<remap from="camera0" to="wheel/left"/>
			<remap from="camera1" to="wheel/right"/>
		</node>
		<node pkg="stereo_mux" type="mux_node" name="stereo_mux">
			<rosparam command="load" file="$(find navi_cfg)/params/camera_mux.yaml"/>
		</node>
	</group>
</launch>
