<launch>
	<arg name="side"/>
	<arg name="rows" default="8"/>
	<arg name="cols" default="6"/>
    <!-- length of a side of one square on the calibration chessboard -->
	<arg name="square" default="0.0254"/> 

	<node pkg="camera_calibration" type="cameracalibrator.py" name="calibrator" ns="vision"
          args="--size=$(arg cols)x$(arg rows) --square=$(arg square)" respawn="false" required="true">
		<remap from="image"  to="$(arg side)/image"/>
		<remap from="camera" to="$(arg side)"/>
	</node>
</launch>
