<launch>
	<!-- TF from URDF -->
	<include file="$(find navi_model)/launch/model_upload.launch"/>
	<node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_publisher"/>
	<node pkg="robot_state_publisher" type="state_publisher" name="state_publisher"/>

	<!-- Nodelet Managers -->
	<node pkg="nodelet" type="nodelet" name="vision_manager" args="manager"/>
</launch>
