<launch>
	<include file="$(find navi_bringup)/launch/basic.launch"/>

	<group ns="vision">
		<node pkg="stereo_webcam" type="stereo_node" name="camera_front_driver">
			<rosparam command="load" file="$(find navi_cfg)/params/camera_general.yaml"/>
			<rosparam command="load" file="$(find navi_cfg)/params/camera_stereo.yaml"/>
			<remap from="camera0" to="left"/>
			<remap from="camera1" to="middle"/>
			<remap from="camera2" to="right"/>
		</node>
		<node pkg="stereo_webcam" type="stereo_node" name="camera_wheel_left_driver" ns="wheel">
			<rosparam command="load" file="$(find navi_cfg)/params/camera_general.yaml"/>
			<rosparam command="load" file="$(find navi_cfg)/params/camera_wheel_left.yaml"/>
			<remap from="camera0" to="left"/>
		</node>
		<node pkg="stereo_webcam" type="stereo_node" name="camera_wheel_right_driver" ns="wheel">
			<rosparam command="load" file="$(find navi_cfg)/params/camera_general.yaml"/>
			<rosparam command="load" file="$(find navi_cfg)/params/camera_wheel_right.yaml"/>
			<remap from="camera0"           to="wheel_right"/>
			<remap from="wheel_right/image" to="wheel_right/image_raw"/>
		</node>
		<node pkg="stereo_mux" type="mux_node" name="stereo_mux">
			<rosparam command="load" file="$(find navi_cfg)/params/camera_mux.yaml"/>
		</node>
	</group>
</launch>
