<launch>
	<include file="$(find navi_bringup)/launch/general.launch"/>
	<include file="$(find navi_bringup)/launch/gps.launch"/>
	<include file="$(find navi_bringup)/launch/camera.launch"/>
	<include file="$(find navi_driver)/launch/drive.launch"/>
	<include file="$(find imu_9drazor)/imu.launch"/>
	<include file="$(find navi_bringup)/launch/laser.launch"/>
</launch>
