<launch>
	<group ns="vision">
		<node pkg="nodelet" type="nodelet" name="line_manager" args="manager"/>

		<!-- Colorspace Transformation -->
		<node pkg="nodelet" type="nodelet" name="white_middle" args="load white_filter/pca_nodelet line_manager">
			<rosparam command="load" file="$(find navi_cfg)/params/line_white.yaml"/>
			<remap from="image" to="/vision/narrow/right/image"/>
			<remap from="white" to="/vision/narrow/right/white"/>
		</node>

		<node pkg="nodelet" type="nodelet" name="white_left" args="load white_filter/pca_nodelet line_manager">
			<rosparam command="load" file="$(find navi_cfg)/params/line_white.yaml"/>
			<remap from="image" to="/vision/wheel/left/image"/>
			<remap from="white" to="/vision/wheel/left/white"/>
		</node>

		<node pkg="nodelet" type="nodelet" name="white_right" args="load white_filter/pca_nodelet line_manager">
			<rosparam command="load" file="$(find navi_cfg)/params/line_white.yaml"/>
			<remap from="image" to="/vision/wheel/right/image"/>
			<remap from="white" to="/vision/wheel/right/white"/>
		</node>

		<!--
		<node pkg="nodelet" type="nodelet" name="line_detection_center" args="load line_detection/line_nodelet vision_manager">
			<rosparam command="load" file="$(find navi_cfg)/params/line_detection.yaml"/>
			<remap from="image"       to="/vision/narrow/right/white"/>
			<remap from="camera_info" to="/vision/narrow/right/camera_info"/>
			<remap from="line_points" to="/vision/narrow/right/line_points"/>
		-->
	</group>
</launch>
