<launch>
	<group ns="vision">
		<!-- Colorspace Transformation -->
		<!--
		<node pkg="white_filter" type="histogram_node.py" name="white_middle">
			<rosparam command="load" file="$(find navi_cfg)/params/line_white.yaml"/>
			<remap from="image" to="/vision/narrow/right/image"/>
			<remap from="white" to="/vision/narrow/right/white"/>
		</node>
		-->

		<node pkg="nodelet" type="nodelet" name="white_middle" args="standalone white_filter/pca_nodelet">
			<rosparam command="load" file="$(find navi_cfg)/params/line_white.yaml"/>
			<remap from="image" to="/vision/narrow/right/image"/>
			<remap from="white" to="/vision/narrow/right/white"/>
		</node>

		<!--
		<node pkg="nodelet" type="nodelet" name="line_detection_center" args="load line_detection/line_nodelet vision_manager">
			<rosparam command="load" file="$(find navi_cfg)/params/line_detection.yaml"/>
			<remap from="image"       to="/vision/narrow/right/white"/>
			<remap from="camera_info" to="/vision/narrow/right/camera_info"/>
			<remap from="line_points" to="/vision/narrow/right/line_points"/>
		</node>
		<node pkg="nodelet" type="nodelet" name="line_detection_left" args="load line_detection/line_nodelet vision_manager">
			<rosparam command="load" file="$(find navi_cfg)/params/line_detection.yaml"/>
			<remap from="image"       to="/vision/wheel/left/white"/>
			<remap from="camera_info" to="/vision/wheel/left/camera_info"/>
			<remap from="line_points" to="/vision/wheel/left/line_points"/>
		</node>
		<node pkg="nodelet" type="nodelet" name="line_detection_right" args="load line_detection/line_nodelet vision_manager">
			<rosparam command="load" file="$(find navi_cfg)/params/line_detection.yaml"/>
			<remap from="image"       to="/vision/wheel/right/white"/>
			<remap from="camera_info" to="/vision/wheel/right/camera_info"/>
			<remap from="line_points" to="/vision/wheel/right/line_points"/>
		</node>
		-->
	</group>
</launch>
