<launch>
    <node pkg="move_base" type="move_base" name="move_base" output="screen">
        <remap from="cmd_vel" to="drive/cmd_vel"/>
        <remap from="odom" to="odom_fused"/>

        <param name="base_global_planner" value="navi_astar/AStarROS"/>
        <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>
        <rosparam file="$(find navi_bringup)/config/costmap_common_params.yaml" ns="global_costmap"/>
        <rosparam file="$(find navi_bringup)/config/costmap_common_params.yaml" ns="local_costmap"/>
        <rosparam file="$(find navi_bringup)/config/local_costmap_params.yaml"/>
        <rosparam file="$(find navi_bringup)/config/global_costmap_params.yaml"/>
        <rosparam file="$(find navi_bringup)/config/dwa_local_planner_params.yaml"/>
    </node>

    <node pkg="map_server" type="map_server" name="map_server"
          args="$(find navi_bringup)/config/map.yaml">
        <param name="frame_id" value="/map_offset"/>
    </node>
</launch>
