<launch>
	<group ns="vision">
		<!-- Stereo Reconstruction -->
		<node pkg="stereo_image_proc" type="stereo_image_proc" name="narrow_proc" ns="narrow">
			<remap from="stereo"          to="narrow"/>
			<remap from="left/image_raw"  to="left/image"/>
			<remap from="right/image_raw" to="right/image"/>
		</node>
		<node pkg="stereo_image_proc" type="stereo_image_proc" name="wide_proc" ns="wide">
			<remap from="stereo"          to="wide"/>
			<remap from="left/image_raw"  to="left/image"/>
			<remap from="right/image_raw" to="right/image"/>
		</node>

		<!-- Stereo Obstacle Detection -->
		<node pkg="stereo_plane" type="ground_node" name="stereo_ground">
			<rosparam command="load" file="$(find navi_cfg)/params/stereo_ground.yaml"/>
			<remap from="points" to="narrow/points2"/>
		</node>
		<node pkg="stereo_od" type="od_node" name="stereo_od">
			<rosparam command="load" file="$(find navi_cfg)/params/stereo_od.yaml"/>
			<remap from="points"      to="narrow/points2"/>
			<remap from="camera_info" to="narrow/left/camera_info"/>
		</node>

		<!-- Colorspace Transformation -->
		<node pkg="navi_white" type="hack_node" name="white_left" ns="wheel/left"/>
		<node pkg="navi_white" type="hack_node" name="white_right" ns="wheel/right"/>
		<node pkg="navi_white" type="hack_node" name="white_middle" ns="narrow/left"/>

		<!-- Matched Pulse-Width Filter -->
		<node pkg="navi_line" type="line_node" name="pulse_left" ns="wheel/left">
			<rosparam command="load" file="$(find navi_cfg)/params/line_pulse.yaml"/>
			<remap from="ground_plane" to="/vision/ground_plane"/>
			<param name="frame_camera" value="/wheel_left_camera_link"/>
		</node>
		<node pkg="navi_line" type="line_node" name="pulse_right" ns="wheel/right">
			<rosparam command="load" file="$(find navi_cfg)/params/line_pulse.yaml"/>
			<remap from="ground_plane" to="/vision/ground_plane"/>
			<param name="frame_camera" value="/wheel_right_camera_link"/>
		</node>
		<node pkg="navi_line" type="line_node" name="pulse_middle" ns="narrow/left">
			<rosparam command="load" file="$(find navi_cfg)/params/line_pulse.yaml"/>
			<remap from="ground_plane" to="/vision/ground_plane"/>
			<param name="frame_camera" value="/camera_link"/>
		</node>

		<!-- Line Fusion and Outlier Detection -->
		<!--
		<node pkg="navi_nodelet" type="nodelet" name="line_mux"
		      args="line_tracking/mux_nodelet">
			<rosparam command="load" file="$(find navi_cfg)/params/line_mux.yaml"/>
			<remap from="line_points1" to="narrow/right/line_points"/>
			<remap from="line_points2" to="wheel/left/line_points"/>
			<remap from="line_points3" to="wheel/right/line_points"/>
		</node>
		-->
	</group>
</launch>
