<launch>
	<group ns="vision">
		<node pkg="nodelet" type="nodelet" name="standalone_nodelet"  args="manager"/>
		<node pkg="nodelet" type="nodelet" name="stereo_od" args="load stereo_od/od_nodelet standalone_nodelet">
			<remap from="points"      to="narrow/points2"/>
			<remap from="camera_info" to="narrow/left/camera_info"/>
			<param name="points_min"   value="100"/>
			<param name="height_min"   value="0.5"/>
			<param name="height_max"   value="1.0"/>
			<param name="distance_max" value="10.0"/>
			<param name="theta"        value="1.04719755"/>
		</node>
	</group>
</launch>
